{% extends "base.html" %}
{% block title%} Dashboard {%endblock%}
{% block content %}

<div class="dashboard-layout">
    <section class="today-panel">
        <div class="panel-header">
            <h2>Today</h2>
            <a href="{{url_for('tasks')}}">View Pages</a>
        </div>

        <ul class="task-list">
            {% for task in today_tasks %}
            <li class="task-item">
                <form action="{{ url_for('complete_task', task_id = task['id'])}}" method ="POST" class="complete-form">
                    <input type="checkbox" onchange="this.form.submit()" {% if task['completed'] %}checked{% endif %}>
                </form>
                
                <div class="task-info">
                    <span class="task-name">{{ task['name']}}</span>
                    <span class="task-desc">{{ task['description']}}</span>
                    <span class="task-category">{{ task['category']}}</span>

                </div>
                <time class="task-time">{{ task['time']}}</time>
            </li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('tasks')}}" class="add-task-btn"> + Add Task</a>

    </section>
    
    <div class="right-column">
        <section class="calendar-panel">
            <div class="panel-header">
                <h4>Calendar</h4>
                <span class="calendar-month">September</span>
            </div>
            <div class="calendar-grid">

            </div>

        </section>

        <section class="upcoming-panel">
            <div class="panel-header">
                <h3>Upcoming</h3>
                <a href="{{url_for('tasks')}}">View All</a>
            </div>

            <ul class="task-list">
                {% for task in upcoming_tasks %}
                <li class="task-item">
                    <span class="task-name">{{ task['name']}}</span>
                    <time class="task-date">{{ task['due_date']}}</time>
                </li>
                {%endfor%}
            </ul>
        </section>
    </div>
</div>

{%endblock%}