{% extends "base.html" %}
{% block title%} Tasks {%endblock%}
{% block content %}
{% if request.args.get('deleted') %}
<div id="undo-notif" class="undo-notif">
    Task deleted.
    <form action = "{{ url_for('undo_task', task_id=request.args.get('deleted'))}}" method="POST" style="display: inline;">
        <button type="submit" class="undo-btn">Undo</button>
    </form>
</div>

<script>
    setTimeout(function() {
        const notif = document.getElementById('undo-notif');
        if(notif) notif.style.display = 'none';
    }, 5000
    );
</script>
{% endif %}

<div class="tasks-layout">
    <section class="task-list-panel">
        <div class="panel-header">
            <span class="filter-badge">School</span>
            <a href="#">See other pages</a>
        </div>
        <h5 class="list-label">Today</h5>
        <ul class="task-list">
            {% for task in tasks %}
            <li class="task-item">
                <form action="{{ url_for('complete_task', task_id = task['id'])}}" method ="POST" class="complete-form">
                    <input type="checkbox" onchange="this.form.submit()" {% if task['completed'] %}checked{% endif %}>
                </form>
                <span class="task-name">{{task['name']}}</span>
                <span class="task-desc">{{task['description']}}</span>
                <span class="task-category">{{ task['category']}}</span>
                <time class="task-time">{{task['time']}}</time>
                
                <a href="{{url_for('edit_task', task_id=task['id'])}}" class="task-edit-btn">Edit</a>
                <form action="{{ url_for('delete_task', task_id=task['id']) }}" method="POST" class="delete-form" onsubmit="return confirm('Delete this task?');">
                    <button type="submit" class="task-delete">Delete</button>
                </form>
                    
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="add-task-panel">
        <div class="panel-header">
            <h3>{{'Edit Task' if edit_task else 'Add New Task'}}</h3>
        </div>

        <form action=
            "{% if edit_task%}
                {{url_for('update_task', task_id=edit_task['id'])}} 
            {%else%}
                {{url_for('tasks')}}
            {%endif%}" method="POST">

            <label for="task-name">Name</label>
            <input type="text" id="task-name" name="task-name" required value="{{ edit_task['name'] if edit_task else ''}}">

            <div class="form-row">
                <div>
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" value="{{ edit_task['description'] if edit_task else ''}}">
                </div>

                <div>
                    <label for="priority">Priority</label>
                    <select id="priority" name="priority">
                        <option value="high" {% if edit_task and edit_task['priority'] == 'high' %} selected {%endif%}>High</option>
                        <option value="medium" {% if edit_task and edit_task['priority'] == 'medium' %} selected {%endif%}>Medium</option>
                        <option value="low" {% if edit_task and edit_task['priority'] == 'low' %} selected {%endif%}>Low</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <label for="due-date">Due Date</label>
                    <input type="date" id="due-date" name="due-date" required value="{{ edit_task['due_date'] if edit_task else ''}}" >
                </div>
                <div>
                    <label for="time">Time</label>
                    <input type="time" id="time" name="time" value="{{ edit_task['time'] if edit_task else ''}}">
                </div>
            </div>

            <div class="form-row">
                <div>
                    <label for="tags">Tags</label>
                    <input type="text" id="tags" name="tags" placeholder="#tags" value="{{ edit_task['tags'] if edit_task else ''}}">
                </div>
                <div>
                    <label for="category">Category</label>
                    <select id="category" name="category">
                        <option value="school" {% if edit_task and edit_task['category'] == 'school' %} selected {%endif%}>School</option>
                        <option value="personal" {% if edit_task and edit_task['category'] == 'personal' %} selected {%endif%}>Personal</option>
                        <option value="work" {% if edit_task and edit_task['category'] == 'work' %} selected {%endif%}>Work</option>
                    </select>
                </div>
            </div>

            <button class="add-task-btn" type="submit">{{'Update Task' if edit_task else 'Add Task'}}</button>
        </form>
    </section>

</div>

{%endblock%}